/* Coolors Exported Palette - https://coolors.co/db5461-17255a-21a179-fbfbff-adf5ff */

/* CSS HEX */
--indian-red: #db5461ff;
--penn-blue: #17255aff;
--jungle-green: #21a179ff;
--ghost-white: #fbfbffff;
--celeste: #adf5ffff;

/* CSS HSL */
--indian-red: hsla(354, 65%, 59%, 1);
--penn-blue: hsla(227, 59%, 22%, 1);
--jungle-green: hsla(161, 66%, 38%, 1);
--ghost-white: hsla(240, 100%, 99%, 1);
--celeste: hsla(187, 100%, 84%, 1);

/* SCSS HEX */
$indian-red: #db5461ff;
$penn-blue: #17255aff;
$jungle-green: #21a179ff;
$ghost-white: #fbfbffff;
$celeste: #adf5ffff;

/* SCSS HSL */
$indian-red: hsla(354, 65%, 59%, 1);
$penn-blue: hsla(227, 59%, 22%, 1);
$jungle-green: hsla(161, 66%, 38%, 1);
$ghost-white: hsla(240, 100%, 99%, 1);
$celeste: hsla(187, 100%, 84%, 1);

/* SCSS RGB */
$indian-red: rgba(219, 84, 97, 1);
$penn-blue: rgba(23, 37, 90, 1);
$jungle-green: rgba(33, 161, 121, 1);
$ghost-white: rgba(251, 251, 255, 1);
$celeste: rgba(173, 245, 255, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #db5461ff, #17255aff, #21a179ff, #fbfbffff, #adf5ffff);
$gradient-right: linear-gradient(90deg, #db5461ff, #17255aff, #21a179ff, #fbfbffff, #adf5ffff);
$gradient-bottom: linear-gradient(180deg, #db5461ff, #17255aff, #21a179ff, #fbfbffff, #adf5ffff);
$gradient-left: linear-gradient(270deg, #db5461ff, #17255aff, #21a179ff, #fbfbffff, #adf5ffff);
$gradient-top-right: linear-gradient(45deg, #db5461ff, #17255aff, #21a179ff, #fbfbffff, #adf5ffff);
$gradient-bottom-right: linear-gradient(135deg, #db5461ff, #17255aff, #21a179ff, #fbfbffff, #adf5ffff);
$gradient-top-left: linear-gradient(225deg, #db5461ff, #17255aff, #21a179ff, #fbfbffff, #adf5ffff);
$gradient-bottom-left: linear-gradient(315deg, #db5461ff, #17255aff, #21a179ff, #fbfbffff, #adf5ffff);
$gradient-radial: radial-gradient(#db5461ff, #17255aff, #21a179ff, #fbfbffff, #adf5ffff);